rezpharma_env/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
*.db
.env
htmlcov/
.coverage
database/*.db 
__pycache__/ 
.env 
database/*.db 
database/*.zip 
rezpharma_env/ 
venv/ 
__pycache__/ 
.env 
.env 
.env 
*.env 
.env 
*.env 

.qwen/
gha-creds-*.json
